*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 0.9rem;
}

.cPadre{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 7% 6% 80% 7%;
    grid-template-areas: "header "
                        "main"
                        "section"
                        "footer";
    
    row-gap: 1rem;
}

header{
    grid-area: header;
    background-color: rgb(112, 214, 86);
    position: sticky;
    top: 0;
    z-index: 1;
    height: 4.8rem;
    
    
}
#menuComun{
    display: none;
    
}
ul.navItems{
    height: 0;
    overflow: hidden;
    
}
#navegacion:target .navItems{
    height: 60rem;
    padding: 1rem;
    list-style: none;
    
    
}
.navItems a , .controlMenu a{
    color: white;
    margin-left: 0.5rem;
}
.close{
    display: none;
}
#navegacion:target .open{
    display: none;
}
#navegacion:target .close{
    display: block;
}
/*Animacion menu mobile*/
#navegacion:target .navItems{
    background: rgb(112, 214, 86) none repeat scroll 0 0;
    height: 7rem;
    transition: heigth 0.4s ease-in-out 0s, background-color 1s ease 0s;
}

.navItems{
    clear:both;
    height: 0;
    overflow: 0;
    transition: height 0.4s ease-in-out 0s, background-color 2s ease 0s;
}
/*Fin animacion menu mobile*/
main{
    grid-area: main;    
    padding: 0.4rem;
    border-radius: 2rem;
    border: 1px solid darkgrey;
    background-color: rgb(174, 174, 252);
    height: 5rem;
    
    
}
main p{
    margin-top: 0.5rem;
    padding: 0.3rem;
    text-align: justify;
}
section{
    margin: 0.5rem;
    grid-area: section;
    padding: 10px;   
    background-color: rgb(252, 243, 215);
    border: 1px solid darkgrey;
    border-radius: 2rem;    

}

section article p{
    margin-top: 10px;
    margin-bottom: 20px;
}



footer{
    grid-area: footer;
    background-color: black;
    color: white;
    
}
footer ul{
    display: flex;
    text-decoration: none;
    margin: 5px;
    list-style: none;    
}
footer ul li a{
    color: white;    
    margin: 0.5rem;
}

.webMaster{
    text-align: center;
    margin: 20px 10px 20px 20px;
}

.return{
    margin-top: 2rem;
    padding: 1rem;    
    text-align: center;

}
.return a{
    border-radius: 0.3rem;
    background-color: rgb(112, 214, 86);
    padding: 0.5rem;        
    color: white;
}


h1{
    text-transform: uppercase;
    text-align: center;
    margin: 0px;
    padding: 10px;
    color: white;
    font-size: 1.5rem;
}

h2{ 
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-top: 25px;
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
}
img{
    display: block;
    margin: auto;
    width: 45%;
}
iframe{
    width: 75%;
}

/*Media queries*/
@media only screen and (min-width:768px) {

    *{
        font-size: 1rem;
    }
    .cPadre{
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        grid-template-rows: 7% 8% 80% 7%;
        grid-template-areas: "header header"
                            "main aside "
                            "section aside"
                            "footer footer ";
        
    }
   
    header{
        height: 7rem;
        
    }
    main{
        margin: 1rem;
        height: auto;
    }
    section{
        margin: 1rem;
    }
      
    .controlMenu{
        display: none;
    }
    #menuComun{
        display: flex;
        padding: 5px;
        margin: 10px;
        text-transform: uppercase;   
        
    }
    #menuDesp{
        display: none;
    }
    .navItems{
        display: none;
    }
    #menuComun li{
        list-style: none;
        margin: 0.5rem;
        border-radius: 0.3rem;
        padding: 0.2rem;
    }
    #menuComun li a {
        color: white;
        text-decoration: none;       
        
    }
    #menuComun li:hover{
        background-color: rgb(34, 119, 59);
        transform: scale(1.2);

    }
    
    
    aside{  
        grid-area: aside;      
        background: rgb(225, 238, 168);    
        margin: 1rem;        
        border: 1px solid darkgrey;
        border-radius: 20px;
        text-align: center;
        height: 70rem;
        
    }
    footer{
        margin-top: 0rem;
    }
    footer ul li:hover{
        transform: scale(1.2);
    }
    h1{
        font-size: 2rem;
        
    }
    h1:hover{
        transform: scale(1.1);
        
    }
    h2{
        font-size: 1.5rem;
    }

    .return:hover{
        transform: scale(1.1);
    }
    
    /*queri Review*/
    .rPadre{    
        display: grid;
        grid-template-columns: 2fr 0.5fr;
        grid-template-rows: 6% 87% 7%;
        grid-template-areas: "header header" 
                            "section aside"
                            "footer footer";
        row-gap: 1rem;
    }
 
    

    .sReview{
        height: 91rem;
        margin: 1rem;
    }
    
     /*queri de TOP10*/
     .top{
        height: 95rem;
    }

}



/*pagina top10*/
.top{
    margin: 20px;
}
.top h2{
    margin-bottom: 10px;
}
.top p{
    margin-top: 10px;
}

/* pagina contacto */
#formContacto{
    margin: 1rem;
    padding: 10px;
    width: 400px;
    height: 300px;   
        
    
}
.sContacto{
    height: 35rem;
    margin-top: 4rem;
    
}
.cFooter{
    height: 8rem;
}
.cPubli{
    height: 35rem;
    margin-top: 4rem;
}
#formContacto fieldset{
    border: 0;
}
input{
    border-radius: 5px;
    margin: 5px;
}
.pais{
    margin: 5px;  
}

textarea{
    border-radius: 7px;
    margin: 5px;
}

/*pagina sobre nosotros */
.team{
    margin: 5rem;
    padding: 20px;
    width: 400px;
    height: 25rem;
    border: 1px solid darkgrey;
    background-color: rgb(252, 243, 215);
    border-radius: 20px;
    text-align: center;
    top: 10px;
    left: 30%;
}
.team img{
    padding: 20px;
}
.team p{
    padding: 10px;
}
